		
		<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="normal/base::layout(~{::section})">
<head>
	<meta charset="UTF-8" />
	<title> this is about page </title>
</head>

<body>
	
<section>

    <div class="introbox">
        <div class="left">
            <h2>Learn Any Course for <span style="color: rgb(180, 64, 64);">Free</span> in your own Language</h2>
            <a class="primary-btn"> Join For Free</a>
        </div>
        <div class="right">
            <img th:src="@{/img/home-desktop-banner.png}">
        </div>
    </div>
    
    
    
    <div class="ranks">
        <div class="rank">
            <img th:src="@{/img/people-circle.svg}">
            <label class="my-auto">
                <span class="counter-value" data-count="19">19</span>
                <span class="count-text"> Lac +</span> <br>
                Members
            </label>
        </div>
        <div class="rank">
            <img th:src="@{/img/video-circle.svg}">
            <label class="my-auto"><span class="counter-value" data-count="150">150</span>
                <span class="count-text">Lac + </span>
                <br>Courses</label>
        </div>
        <div class="rank">
            <img th:src="@{/img/star-circle.svg}">
            <label class="mx-4 my-auto"><span class="counter-value" data-count="6">6</span>
                <span class="count-text"> Lac +</span>
                <br>App Installs</label>
        </div>
        <div class="rank">
            <img th:src="@{/img/mobile-circle.svg}">
            <label class="mx-4 my-auto"><span class="counter-value" data-count="6">6</span>
                <span class="count-text"> Lac +</span>
                <br>App Installs</label>
        </div>

    </div>
    
    
    
    <!--  Master Slider  -->
 <div class="p">
        <h2>Courses by <span>Master's</span></h2>

        <div class="slider">
            <div class="ul-inser">
                <ul class="item-div" id="box">
                    <il>
                        <div class="img_th"><span></span></div>
                        <div class="bundle-info">
                            <h4 class="sub-heading">
                                <div>Full Stack Java Developer Career Bootcamp</div>
                            </h4>
                            <div class="info"><span> <iconify-icon icon="material-symbols:calendar-month"></iconify-icon>
                                    <!-- -->11<!-- --> Months</span><span>
                                    <iconify-icon icon="fluent:library-20-regular">
                                    </iconify-icon>12 Courses</span>
                            </div>
                            <p> <!-- -->Simplilearn Career Bootcamp</p>
                            <p> <!-- -->7 tools &amp; 4 Industry Projects</p>
                            <p> <!-- -->Master's certificate</p>
                        </div>
                    </il>

                    <il>
                        <div class="img_th" style="
                        background: #8661df;
                        background-image: radial-gradient(circle at 28% 36%, #a889f2, #8661df 66%);"><span></span>
                        </div>
                        <div class="bundle-info">
                            <h4 class="sub-heading">
                                <div>Digital Marketing Specialist</div>
                            </h4>
                            <div class="info"><span> <iconify-icon icon="material-symbols:calendar-month"></iconify-icon>
                                    <!-- -->11<!-- --> Months</span>
                                <span>
                                    <iconify-icon icon="fluent:library-20-regular">
                                    </iconify-icon>14 Courses</span>
                            </div>
                            <p> <!-- -->Simplilearn JobAssist Program </p>
                            <p> <!-- -->29 tools &amp; Rigorous curriculum</p>
                            <p> <!-- -->Certification Alignment
                                <b>Facebook Blueprint_New_White</b>,
                                <b>Google</b>
                            </p>
                        </div>
                    </il>


                    <il>
                        <div class="img_th" style="
                            background: #d550ab;
                            background-image: radial-gradient(circle at 29% 37%, #ed82cb, #d550ab 68%);"><span></span>
                        </div>
                        <div class="bundle-info">
                            <h4 class="sub-heading">
                                <div>Full Stack Web Developer - MEAN Stack</div>
                            </h4>
                            <div class="info"><span><iconify-icon icon="material-symbols:calendar-month"></iconify-icon>
                                    <!-- -->11<!-- --> Months</span><span>
                                    <iconify-icon icon="fluent:library-20-regular">

                                    </iconify-icon>6 Courses</span></div>
                            <p> <!-- -->Simplilearn JobAssist Program </p>
                            <p> <!-- -->14 tools &amp; 4 Industry Projects</p>
                            <p> <!-- -->Master's certificate</p>
                        </div>
                    </il>


                    <il>
                        <div class="img_th" style="    background: #00bba6;
                    background-image: radial-gradient(circle at 28% 36%, #00dcc3, #00bba6 66%);"><span></span></div>
                        <div class="bundle-info">
                            <h4 class="sub-heading">
                                <div>Cloud Architect</div>
                            </h4>
                            <div class="info"><span> <iconify-icon icon="material-symbols:calendar-month"></iconify-icon>
                                    <!-- -->11<!-- --> Months</span>
                                <span><iconify-icon icon="fluent:library-20-regular">

                                    </iconify-icon>11 Courses</span>
                            </div>
                            <p> <!-- -->Simplilearn JobAssist Program </p>
                            <p> <!-- -->31 tools &amp; Rigorous curriculum</p>
                            <p> <!-- -->Certification Aligned with <b>
                                    Silver_Microsft_Partner</b> &amp; 2 more</p>
                        </div>
                    </il>




                    <il>
                        <div class="img_th" style="background: #d2ac00;
                    background-image: radial-gradient(circle at 38% 32%, #f4c652, #d2ac00 92%);"><span></span></div>
                        <div class="bundle-info">
                            <h4 class="sub-heading">
                                <div>Artificial Intelligence Engineer</div>
                            </h4>
                            <div class="info"><span><iconify-icon icon="material-symbols:calendar-month"></iconify-icon>
                                    <!-- -->11<!-- --> Months</span>
                                <span><iconify-icon icon="fluent:library-20-regular">

                                    </iconify-icon>10 Courses</span>
                            </div>
                            <p> <!-- -->Simplilearn JobAssist Program </p>
                            <p> <!-- -->9 tools &amp; Rigorous curriculum</p>
                            <p> <!-- -->In Collaboration With <b>IBM</b></p>
                        </div>
                    </il>


                    <il>
                        <div class="img_th" style="    background: #0099c3;
                    background-image: radial-gradient(circle at 28% 36%, #00c5e3, #0099c3 99%);"><span></span></div>
                        <div class="bundle-info">
                            <h4 class="sub-heading">
                                <div>Data Scientist</div>
                            </h4>
                            <div class="info"><span><iconify-icon icon="material-symbols:calendar-month"></iconify-icon>
                                    <!-- -->11<!-- --> Months</span>
                                <span><iconify-icon icon="fluent:library-20-regular">
                                    </iconify-icon>9 Courses</span>
                            </div>
                            <p> <!-- -->Simplilearn JobAssist Program </p>
                            <p> <!-- -->11 tools &amp; Rigorous curriculum</p>
                            <p> <!-- -->In Collaboration With <b>IBM</b></p>
                        </div>

                    </il>


                    <il>
                        <div class="img_th"><span></span></div>
                        <div class="bundle-info">
                            <h4 class="sub-heading">
                                <div>PMP<sup>®</sup> Plus</div>
                            </h4>
                            <div class="info"><span> <iconify-icon icon="material-symbols:calendar-month"></iconify-icon>
                                    <!-- -->36<!-- --> Months</span><span>
                                    <iconify-icon icon="fluent:library-20-regular">

                                    </iconify-icon>7 Courses</span></div>
                            <p> <!-- -->Rigorous curriculum</p>
                            <p> <!-- -->Master's certificate</p>
                        </div>
                    </il>


                    <il>
                        <div class="img_th" style="    background: #0099c3;
                        background-image: radial-gradient(circle at 28% 36%, #00c5e3, #0099c3 99%);"><span></span>
                        </div>

                        <div class="bundle-info">
                            <h4 class="sub-heading">
                                <div>Lean Six Sigma Expert</div>
                            </h4>
                            <div class="info"><span><iconify-icon icon="material-symbols:calendar-month"></iconify-icon>
                                    <!-- -->11<!-- --> Months</span><span>
                                    <iconify-icon icon="fluent:library-20-regular"></iconify-icon>7 Courses</span></div>
                            <p> <!-- -->Simplilearn JobAssist Program </p>
                            <p> <!-- -->Rigorous curriculum</p>
                            <p> <!-- -->Accredited By <b>IASSC</b></p>
                        </div>
                    </il>

                    <!-- <iconify-icon class="left" id="left" icon="icon-park-solid:left-c"></iconify-icon>
                    <iconify-icon class="right" id="right" icon="icon-park-solid:right-c"></iconify-icon> -->
                </ul>
            </div>
        </div>
    </div>
    <!--  Master Slider  End-->
 
 
 
 
 <!-- Popular Courses Start   -->
 <section id="course1">
        <h2>Courses by <span id="sub">Popular <span> Language</span> </span></h2>
        <div class="course-box" >

            <div class="cors t-black"  th:each="c1: ${courses}">
                <a href="#" style="color: black;">
                    <img th:src="@{'/img/'+${c1.img}}" >
                    <div class="detalis">
                        <span  th:text="${'Update Date   : '+c1.date}"></span>
                        <h6 th:text="${'Course Name  :'+c1.cname}"></h6>
                        <div class="str">
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <iconify-icon icon="ion:star-outline" style="color: gold;" flip="horizontal"></iconify-icon>
                            <span>(339)</span>
                        </div>
                    </div>
                    <div class="cost">
                        <span th:text="${'$'+c1.price}"></span>
                    </div>
                </a>
            </div>




    </section>
 <!-- Popular Courses End -->
 
 
 
 
 <!-- FAQ Start  -->
 <div class="container1">

        <!-- <h2>Frequently Asked Questions</h2> -->
        <h2>Frequently <span id="c">Asked<span> Questions</span></span></h2>

        <div class="accordion">
            <div class="accordion-item">
                <a>What can JavaScript Do?</a>
                <div class="content">
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
                        labore et
                        dolore magna aliqua. Elementum sagittis vitae et leo duis ut. Ut tortor pretium viverra
                        suspendisse potenti.
                    </p>
                </div>
            </div>
            <div class="accordion-item">
                <a>How JavaScript Can Modify HTML and CSS Values?</a>
                <div class="content">
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
                        labore et
                        dolore magna aliqua. Elementum sagittis vitae et leo duis ut. Ut tortor pretium viverra
                        suspendisse potenti.
                    </p>
                </div>
            </div>
            <div class="accordion-item">
                <a>What Is SVG?</a>
                <div class="content">
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
                        labore et
                        dolore magna aliqua. Elementum sagittis vitae et leo duis ut. Ut tortor pretium viverra
                        suspendisse potenti.
                    </p>
                </div>
            </div>
            <div class="accordion-item">
                <a>Is FAQ Section Matters In Website?</a>
                <div class="content">
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
                        labore et
                        dolore magna aliqua. Elementum sagittis vitae et leo duis ut. Ut tortor pretium viverra
                        suspendisse potenti.
                    </p>
                </div>
            </div>
            <div class="accordion-item">
                <a>How To Create a Light FAQ Element?</a>
                <div class="content">
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
                        labore et
                        dolore magna aliqua. Elementum sagittis vitae et leo duis ut. Ut tortor pretium viverra
                        suspendisse potenti.
                    </p>
                </div>
            </div>
        </div>

    </div>
 <!-- FAQ END -->
    </section>
    </body>
</html>
		